In [1]:
#importing libraries
import  pandas as pd
import numpy as np

In [2]:
#loading dataset
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train.describe()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [5]:
#splitting train and test dataset
from sklearn.model_selection import train_test_split
X = train.iloc[:,1:]
Y = train.iloc[:,0]
x_train , x_test , y_train , y_test = train_test_split(X, Y , test_size=0.1)

In [6]:
#coverting target variable to categorical
from keras.utils import to_categorical
y_train=to_categorical(y_train,10)
y_test=to_categorical(y_test,10)

In [7]:
#normalizing dataset
x_train=x_train/255
x_test=x_test/255
test=test/255

In [8]:
#building the model
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
model=Sequential()
model.add(Dense(512, activation='relu', input_dim=x_train.shape[1]))
model.add(Dropout(0.5))
model.add(Dense(256, activation='relu', input_dim=x_train.shape[1]))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu', input_dim=x_train.shape[1]))
model.add(Dropout(0.5))
model.add(Dense(10, activation='softmax'))

In [9]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               401920
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 256)               131328
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_2 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 10)                1290
=================================================================
Total params: 567,434
Trainable params: 567,434
Non-trainable params: 0
_________________________________________________________________

In [10]:
model.compile(loss="categorical_crossentropy",optimizer="adamax",metrics=["accuracy"])

In [11]:
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
1182/1182 [==============================] - 55s 47ms/step - loss: 0.8002 - accuracy: 0.7418
Epoch 2/10
1182/1182 [==============================] - 50s 42ms/step - loss: 0.3568 - accuracy: 0.8984
Epoch 3/10
1182/1182 [==============================] - 48s 41ms/step - loss: 0.2765 - accuracy: 0.9216
Epoch 4/10
1182/1182 [==============================] - 50s 42ms/step - loss: 0.2245 - accuracy: 0.9382
Epoch 5/10
1182/1182 [==============================] - 51s 43ms/step - loss: 0.1953 - accuracy: 0.9457
Epoch 6/10
1182/1182 [==============================] - 48s 41ms/step - loss: 0.1698 - accuracy: 0.9525
Epoch 7/10
1182/1182 [==============================] - 51s 43ms/step - loss: 0.1524 - accuracy: 0.9574
Epoch 8/10
1182/1182 [==============================] - 47s 40ms/step - loss: 0.1395 - accuracy: 0.9600
Epoch 9/10
1182/1182 [==============================] - 47s 40ms/step - loss: 0.1324 - accuracy: 0.9621
Epoch 10/10
1182/1182 [==============================] - 47s 40ms/step - loss: 0.1195 - accuracy: 0.96551s

In [12]:
#evaluating model
model.evaluate(x_test,y_test)

132/132 [==============================] - 2s 18ms/step - loss: 0.0988 - accuracy: 0.9733 0s - loss:

[0.09883836656808853, 0.9733333587646484]

In [13]:
#model predictions
predictions=model.predict(test)
y_pred=np.argmax(predictions,axis=1)

In [14]:
#model output
output = pd.DataFrame({'ImageId': np.arange(1, 28001), 'Label': y_pred})

In [15]:
output

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]